.gsd-keyboard.settings-ported
Hyprland-xdg-terminals.list
Insomnia/
JetBrains/
QtProject.conf
StardewValley/
composer/
dconf/
dleyna-renderer-service.conf
evolution/
flameshot/
go/
gtk-3.0/
htop/
mimeapps.list
monitors.xml
monitors.xml~
neofetch/
pavucontrol.ini
pulse/
qalculate/
user-dirs.dirs
user-dirs.locale
waypaper/
xdg-terminals.list
yandex-browser/
discord/
onlyoffice/
QtProject/
chromium/
gnome-builder/
gwenviewrc
gwenviewrc~
nwg-look/
plasma-workspace/
satty/
xdg-desktop-portal/
xsettingsd/
yelp/
yandex-music*
Code - OSS/
Unknown Organization/
obs-studio/
KDE/
PlasmaDiscoverUpdates
PlasmaUserFeedback
Trolltech.conf
baloofilerc
bluedevilglobalrc
discoverrc
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kglobalshortcutsrc
kioslaverc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
session/
spectaclerc
VirtualBox/
kdeglobals
uv/
clipse/*
!clipse/config.json
!clipse/custom_theme.json
obsidian/
CurseForge/
ow-electron/
GIMP/
QOpenVPN/
remmina/
simple-scan/
unity3d/
font-manager/
fontconfig/
pnpm/
spotify/
torbrowser/
qBittorrent/
zoom*
autostart/
freerdp/
Postman/
dev.land.autoclicker/
github-copilot/
YandexMusic/
waydroid-helper/
