[Unit]
Description=Set half-day wallpaper (oneshot)

[Service]
Type=oneshot
ExecStart=%h/.config/bin/wallpaper.sh

[Install]
WantedBy=default.target

