[Unit]
Description=Set half-day wallpaper
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/baltika/.config/bin/day-night-wallpaper.sh

[Install]
WantedBy=default.target

