@import "colors.css";

* {
	background-image: none;
	box-shadow: none;
	font-size: 18px;
}

window {
	/* background-color: rgba(26, 29, 35, 0.1); */
	/* backdrop-filter: blur(8px) saturate(120%) brightness(110%); */
	/* background-color: rgba(255, 255, 255, 0.16); */
	/* background-color: rgba(0, 0, 0, 0.2); */
	background-color: transparent;
}

button {
	background-color: @bg;
  color: @fg;
	border-radius: 0;
	/* margin: 100px 0 100px 0; */
	/* text-decoration-color: #FFFFFF; */
	/* color: #D4BFF9; */
	/* background-color: rgba(26, 29, 35, 0.7); */
	/* border: 1px solid #bcd; */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
	outline-style: none;
	animation: gradient_f 20s ease-in infinite;
}

button:focus,
button:active,
button:hover {
	background-color: @accent;
	color: @on_accent;
	outline-style: none;
	/* color: #333; */
	background-size: 25%;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}

#lock {
	background-image: image(url("/home/baltika/.config/wlogout/icons/n/lock.png"));
}

#lock:focus,
#lock:active,
#lock:hover {
	background-image: image(url("/home/baltika/.config/wlogout/icons/h/lock.png"));
}

#logout {
	background-image: image(url("/home/baltika/.config/wlogout/icons/n/logout.png"));
	border-radius: 0px 0px 45px 0px;
	margin: 0px 400px 150px 0px;
}

#logout:focus,
#logout:active,
#logout:hover {
	background-image: image(url("/home/baltika/.config/wlogout/icons/h/logout.png"));
}

#logout:hover {
	border-radius: 0px 45px 45px 45px;
	margin: 0px 350px 100px 0px;
}

#suspend {
	background-image: image(url("/home/baltika/.config/wlogout/icons/n/suspend.png"));
	border-radius: 0px 45px 0px 0px;
	margin: 150px 400px 0px 0px;
}

#suspend:focus,
#suspend:active,
#suspend:hover {
	background-image: image(url("/home/baltika/.config/wlogout/icons/h/suspend.png"));
}

#suspend:hover {
	border-radius: 45px 45px 45px 0px;
	margin: 100px 350px 0px 0px;
}

#hibernate {
	background-image: image(url("/home/baltika/.config/wlogout/icons/n/hibernate.png"));
}

#hibernate:focus,
#hibernate:active,
#hibernate:hover {
	background-image: image(url("/home/baltika/.config/wlogout/icons/h/hibernate.png"));
}

#shutdown {
	background-image: image(url("/home/baltika/.config/wlogout/icons/n/shutdown.png"));
	border-radius: 45px 0px 0px 0px;
	margin: 150px 0px 0px 400px;
}

#shutdown:focus,
#shutdown:active,
#shutdown:hover {
	background-image: image(url("/home/baltika/.config/wlogout/icons/h/shutdown.png"));
}

#shutdown:hover {
	border-radius: 45px 45px 0px 45px;
	margin: 100px 0px 0px 350px;
}

#reboot {
	background-image: image(url("/home/baltika/.config/wlogout/icons/n/reboot.png"));
	border-radius: 0px 0px 0px 45px;
	margin: 0px 0px 150px 400px;
}

#reboot:focus,
#reboot:active,
#reboot:hover {
	background-image: image(url("/home/baltika/.config/wlogout/icons/h/reboot.png"));
}

#reboot:hover {
	border-radius: 45px 0px 45px 45px;
	margin: 0px 0px 100px 350px;
}
