* {
  font-family: "JetBrainsMono", monospace;
  font-size: 18px;
  outline: none;
}

window {
  background-color: rgba(26, 29, 35, 0.4);
  border-radius: 18px;
  /* border: 2px solid white; */
  border: 1px solid rgba(255, 249, 224, 0.3);
}

#entry {
  padding: 4px;
  /* background-color: red; */
}

#entry:selected {
  /* background-color: #bcd; */
  /* background: linear-gradient(90deg, #bcd, #639); */
  /* border-radius: 10px; */
  background-color: rgba(187, 204, 221, 0.4);
  border-radius: 12px;
  margin: 0 10px;
}

#expander-box {
  background-color: rgba(26, 29, 35, 0.4);
  /* background-color: #bcd; */
  border-radius: 12px;
}

#text {
  padding: 4px;
  color: white;
}

/* #expander-box #text { */
/*   color: #333; */
/* } */

#text:selected {
  /* color: #333; */
  color: #FFF9E0;
  /* Текст при выборе становится солнечным */
  font-weight: bold;
}

#input {
  background-color: rgba(10, 13, 19, 0.4);
  color: white;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid rgba(255, 249, 224, 0.2);
}

#img {
  margin-left: .25em;
  margin-right: .25em;
}

#scroll {
  background-color: transparent;
}
