* {
  font-family: "JetBrainsMono", monospace;
  font-size: 18px;
}

window {
  background-color: rgba(26, 29, 35, 0.9);
  border-radius: 10px;
  border: 2px solid white;
}

#entry {
  padding: 4px;
  /* background-color: red; */
}

#entry:selected {
  background-color: #bcd;
  /* background: linear-gradient(90deg, #bcd, #639); */
  border-radius: 10px;
  margin: 0 10px;
}

#expander-box {
  background-color: rgba(26, 29, 35, 0.9);
  /* background-color: #bcd; */
  border-radius: 12px;
}

#text {
  padding: 4px;
  color: white;
}

/* #expander-box #text { */
/*   color: #333; */
/* } */

#text:selected {
  color: #333;
}

#input {
  background-color: rgba(10, 13, 19, 1);
  color: white;
  border-radius: 10px;
  margin: 10px;
  /* border-color: #bcd; */
}

#img {
  margin-left: .25em;
  margin-right: .25em;
}

#scroll {
  background-color: transparent;
}
