* {
  font-family: "JetBrainsMono", monospace;
  font-size: 18px;
  outline: none;
}

window {
  background-color: rgba(17, 19, 24, 0.4);
  border-radius: 20px;
  border: 1px solid rgba(142, 144, 153, 0.3);
}

#entry {
  background-color: transparent;
  border-radius: 12px;
  margin: 0 10px;
}

#entry:selected {
  background-color: rgba(174, 198, 255, 0.2);
}

#expander-box {
  background-color: rgba(17, 19, 24, 0.4);
  border-radius: 12px;
}

#text {
  padding: 4px;
  color: #e2e2e9;
}

#text:selected {
  color: #aec6ff;
  font-weight: bold;
}

#input {
  background-color: rgba(17, 19, 24, 0.4);
  color: #e2e2e9;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid rgba(142, 144, 153, 0.2);
}

#img {
  margin-left: .25em;
  margin-right: .25em;
}

#scroll {
  background-color: transparent;
}
